<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stu_share">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenu" />
        <activity android:name=".SignUpEmailPass" />
        <activity android:name=".ResetWithEmail" />
        <activity android:name=".ResetConfirm" />
        <activity android:name=".EventOwnDetail" />
        <activity android:name=".AdminEventDetail" />
        <activity android:name=".EventMenu" />
        <activity android:name=".AdminEventList" />
        <activity android:name=".AdUserDetail" />
        <activity android:name=".AdminUserList" />
        <activity android:name=".MyProfileEdit" />
        <activity android:name=".EventJoinedDetail" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".EventPastDetail" />
        <activity android:name=".MyProfile" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".EventListJoined" />
        <activity android:name=".EventDetail" />
        <activity android:name=".EventPastList" />
        <activity android:name=".EventList" />
        <activity android:name=".EventCreateDescription" />
        <activity android:name=".EventCreate" />
        <activity android:name=".EventOwnedList" />
        <activity android:name=".EventMyEvents" />
        <activity android:name=".Signup2" />
        <activity android:name=".Signup" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:usesCleartextTraffic="true" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>