<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stu_share">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlumnaiDashboard"></activity>
        <activity android:name=".AdminBookDetail" />
        <activity android:name=".AdminBookList" />
        <activity android:name=".AdminRoomDetail" />
        <activity android:name=".AdminRoomList" />
        <activity android:name=".AdminCarDetail" />
        <activity android:name=".AdminCarList" />
        <activity android:name=".AdminMessageDetail" />
        <activity android:name=".AdminMessageList" />
        <activity android:name=".MessageSentDetail" />
        <activity android:name=".MessageReceivedDetail" />
        <activity android:name=".BookPastList" />
        <activity android:name=".BookPastDetail" />
        <activity android:name=".BookDetail" />
        <activity android:name=".BookCurrentDetail" />
        <activity android:name=".BookCreate" />
        <activity android:name=".BookCurrentList" />
        <activity android:name=".BookList" />
        <activity android:name=".BookMyMenu" />
        <activity android:name=".RoomMenu" />
        <activity android:name=".BookMenu" />
        <activity android:name=".CarCurrentDDetail" />
        <activity android:name=".CarCurrentList" />
        <activity android:name=".CarPastDetail" />
        <activity android:name=".CarPastList" />
        <activity android:name=".CarMyMenu" />
        <activity android:name=".MainMenu" />
        <activity android:name=".CarCreate" />
        <activity android:name=".CarDetail" />
        <activity android:name=".CarList" />
        <activity android:name=".CarMyCarList" />
        <activity android:name=".CarMenu" />
        <activity android:name=".RoomCurrentDetail" />
        <activity android:name=".RoomCurrentList" />
        <activity android:name=".RoomPastDetails" />
        <activity android:name=".RoomPastList" />
        <activity android:name=".RoomMyMenu" />
        <activity android:name=".RoomCreate" />
        <activity android:name=".RoomDetail" />
        <activity android:name=".RoomList" />
        <activity android:name=".SignUpEmailPass" />
        <activity android:name=".ResetWithEmail" />
        <activity android:name=".ResetConfirm" />
        <activity android:name=".EventOwnDetail" />
        <activity android:name=".AdminEventDetail" />
        <activity android:name=".EventMenu" />
        <activity android:name=".AdminEventList" />
        <activity android:name=".AdUserDetail" />
        <activity android:name=".AdminUserList" />
        <activity android:name=".MyProfileEdit" />
        <activity android:name=".EventJoinedDetail" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".EventPastDetail" />
        <activity android:name=".MyProfile" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".EventRegDetail" />
        <activity android:name=".EventListJoined" />
        <activity android:name=".EventDetail" />
        <activity android:name=".EventPastList" />
        <activity android:name=".EventList" />
        <activity android:name=".EventCreateDescription" />
        <activity android:name=".EventCreate" />
        <activity android:name=".EventOwnedList" />
        <activity android:name=".EventMyEvents" />
        <activity android:name=".MessageCreate" />
        <activity android:name=".MessageList" />
        <activity android:name=".Signup2" />
        <activity android:name=".Signup" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:usesCleartextTraffic="true" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>